[submodule "tools/dotfiles"]
	path = tools/dotfiles
	url = https://github.com/jbernard/dotfiles
[submodule "possSubs/gmusicapi-scripts"]
	path = possSubs/gmusicapi-scripts
	url = https://github.com/thebigmunch/gmusicapi-scripts
[submodule "possSubs/gmusicapi"]
	path = possSubs/gmusicapi
	url = https://github.com/simon-weber/gmusicapi.git
[submodule "possSubs/gmusicapi-wrapper"]
	path = possSubs/gmusicapi-wrapper
	url = https://github.com/thebigmunch/gmusicapi-wrapper.git
[submodule "possSubs/docopt"]
	path = possSubs/docopt
	url = https://github.com/docopt/docopt.git
[submodule "possSubs/Plex-Trakt-Scrobbler"]
	path = possSubs/Plex-Trakt-Scrobbler
	url = https://github.com/trakt/Plex-Trakt-Scrobbler.git
[submodule "possSubs/GoogleMusic.bundle"]
	path = possSubs/GoogleMusic.bundle
	url = https://github.com/jwdempsey/GoogleMusic.bundle.git
