[submodule "tools/dotfiles"]
	path = tools/dotfiles
	url = https://github.com/jbernard/dotfiles
[submodule "possibleSubmodules/gmusicapi-scripts"]
	path = possibleSubmodules/gmusicapi-scripts
	url = https://github.com/thebigmunch/gmusicapi-scripts
[submodule "possibleSubmodules/gmusicapi"]
	path = possibleSubmodules/gmusicapi
	url = https://github.com/simon-weber/gmusicapi.git
[submodule "possibleSubmodules/gmusicapi-wrapper"]
	path = possibleSubmodules/gmusicapi-wrapper
	url = https://github.com/thebigmunch/gmusicapi-wrapper.git
[submodule "possibleSubmodules/docopt"]
	path = possibleSubmodules/docopt
	url = https://github.com/docopt/docopt.git
